<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartpower.cilab.smartpower">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity android:name=".ActivityPage.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityPage.ShowWatch" />
        <activity android:name=".ActivityPage.ShowEarring" />
        <activity android:name=".ActivityPage.ShowHotSale" />
        <activity android:name=".ActivityPage.ShoppingCart" />
        <activity android:name=".ActivityPage.ItemDetail" />
        <activity android:name=".ActivityPage.Scanner" />

        <service
            android:name="tw.org.iii.beaconcontentsdk.BeaconContentService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ActivityPage.BeaconText" />
        <activity android:name=".BeaconProduct"></activity>
    </application>

</manifest>